<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Home Page </h1>
    </div>
</div>


<section id="widget-grid" class="">

    <div class="row">

<article class="col-sm-12 col-md-12 col-lg-9 sortable-grid ui-sortable">


    <div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-2" data-widget-editbutton="false" role="widget">

        <header role="heading">
            <div class="jarviswidget-ctrls" role="menu"></div>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Visualizations used in Project</h2>

            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

        <div role="content">
            <div class="jarviswidget-editbox">
            </div>

            <div class="widget-body no-padding">
                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Visualizations</th>
                            <th>Views</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Bubble Chart</td>
                            <td><img width="75" src="https://camo.githubusercontent.com/dbaf877e0e81e571ae42fa1f6e1115bf052f72ca/687474703a2f2f64336a732e6f72672f65782f627562626c652e706e67" data-canonical-src="http://d3js.org/ex/bubble.png"></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Chord Diagram</td>
                            <td><img width="75" src="https://camo.githubusercontent.com/cc8ad10f5975dff97a5d6801269f8203101b20b9/687474703a2f2f64336a732e6f72672f65782f63686f72642e706e67" data-canonical-src="http://d3js.org/ex/chord.png"></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Drag and Drop Collapsible Tree Layout</td>
                            <td><img width="75" src="https://cloud.githubusercontent.com/assets/4923966/6143256/7da0855e-b17a-11e4-817e-5f33b4077283.png"></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>3D Donut</td>
                            <td><img width="75" src="https://camo.githubusercontent.com/0acc0b23b33743116e5d784b37ed04a1f2cc59b0/687474703a2f2f626c2e6f636b732e6f72672f4e5061736861502f7261772f393939343138312f7468756d626e61696c2e706e67" data-canonical-src="http://bl.ocks.org/NPashaP/raw/9994181/thumbnail.png"></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Time series</td>
                            <td><img width="75" src="https://camo.githubusercontent.com/373823f2be79f2648d961051073801b2031ac847/687474703a2f2f6d6c766c2e6769746875622e696f2f74696d657365726965732f696d616765732f74696d657365726965732d736d2e706e67" data-canonical-src="http://mlvl.github.io/timeseries/images/timeseries-sm.png"></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Interactive Bubble Menu</td>
                            <td><img width="75" src="https://camo.githubusercontent.com/1bb1c03aa743178eef713a0a04adfc38795a76ab/687474703a2f2f73756e73702e6e65742f64656d6f2f427562626c654d656e752f627562626c656d656e752e676966" alt="" data-canonical-src="http://sunsp.net/demo/BubbleMenu/bubblemenu.gif"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>


</article>


</div>

    </section>
